@charset "UTF-8";
*{
padding: 0;
margin: 0;
}
header{
    width: 1060px;
    height: 90px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
img{border:0px;} 
#logo a img {
    border: 0px;
    width: 175px;
	height: 70px;
}
#logo{
float: left;
margin-top: 20px;
}
.up-menu {
    float: right;
    margin-top: 20px;
	font-family: 'IBM Plex Sans KR', sans-serif;
    color: #000000;
}
.up-menu a{
	text-decoration: none;
	color: #000000;
}
.up-menu a:hover {
	color: #F1B024;
}
#menu{
    width: 1060px;
    height: 60px;
    float: right;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
#menu ul li{ /*전체 메뉴 리스트 스타일*/
    float: left;
    width: 265px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    list-style-type: none;
}
#menu ul li a{ /*전체 메뉴 리스트 링크 스타일*/
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 7px 8px;
    display: block;
}
#menu ul li:hover a{ /*전체 메뉴 링크에 마우스 포인터를 올렸을 때 스타일*/
    margin: 0;
    padding: 5;
    color: #F1B024;
}
#main {
    width: 1060px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
}
#image {
    width: 600px;
    float: left;
}
#main-info {
    width: 350px;
    height: 470px;
    margin-left: 50px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    padding-top: 30px;
    padding-left: 30px;
}
.name {
    color: #000000;
    font-weight: bold;
    font-size: 32px;
}
.place {
    color: #727272;
    font-size: 15px;
    padding-top: 10px;
}
.star {
	font-size: 18px;
    padding-top: 10px;
}
.star1 {
    color: #F3BC45;
}
.star2 {
	color: #000000;
}
.tag {
	font-size: 17px;
}
.price {
	padding-top: 50px;
}
.price1 {
	font-size: 30px;
	color: #FAB011;
	font-weight: bold;
}
.price2 {
	font-size: 15px;
}
.reservation {
    margin-top: 10px;
    border-top: 1px solid #CACACA;
}
.reservation input  {
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 7px;
    background-color: #827151;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    border-width: 0px;
    border-color: #FFFFFF;
}
footer {
    background-color: #DEDEDE;
    width: 100%;
    height: 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    color: #7B7B7B;
    font-size: 14px;
    padding-top: 40px;
    line-height: 25px;
}
footer a {
    color: #7B7B7B;
    text-decoration: none;
}
footer a:hover {
	color: #7B7B7B;
    text-decoration: none;
}
